* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Nerko One', cursive;
    width: 50%;
    margin:auto;
    background-color: #ADD8E6;
}


header,
footer {
    text-align: center;
}

h1 {
    font-size: 48px;
    color: white;
    text-shadow: 1px 2px black;
}

/* clearfix */

#clearfix:after {
    content: "";
    display: table;
    clear: both;
}


/* blocco carta */
.card {
    background-color: white;
    display: inline-block;
    width: 160px;
    height: 190px;
    float: left;
    margin: 10px;
    transform: translate(+22px,0);
    position: relative;
}

/* dorso carta */
.background{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    z-index: 1;
}

/* fronte carta */
.hidden-card {
    width: 100%;
    height: 70%;
    object-fit:contain;
    position: absolute;
    top: 15px;
}
.card h2 {
    display: inline-block;
    text-align: center;
    position: absolute;
    bottom: 5px;
    width: 100%;
    font-size: 26px;
    text-shadow: 1px 1px black;
}

.card:hover .background {
    display: none;
}

#baloon {
    color: #E61986;
}
#tractor {
    color: #E5791A;
}
#bicycle {
    color: #1B5BEB;
}
#ship {
    color: #58EB1B;
}
#submarine {
    color: #F1EB2C;
}
#tram {
    color: #F12C2C;
}

.default{
    display: none;
}

/* footer */
h5 {
    font-size: 18px;
}